{
  "check-coverage": true,
  "lines": 98.66,
  "functions": 97.06,
  "branches": 95.51,
  "statements": 98.67,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/**/*.spec.ts",
    "src/import-dotx/import-dotx.ts"
  ],
  "reporter": [
    "lcov",
    "text",
    "json"
  ],
  "extension": [
    ".ts"
  ],
  "cache": true,
  "all": true,
  "instrument": false,
  "sourceMap": true
}
