{
  "check-coverage": true,
  "statements": 99.43,
  "branches": 96.6,
  "functions": 99.47,
  "lines": 99.43,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/**/*.spec.ts",
    "src/import-dotx/import-dotx.ts"
  ],
  "reporter": [
    "lcov",
    "text",
    "json"
  ],
  "extension": [
    ".ts"
  ],
  "cache": true,
  "all": true,
  "sourceMap": true
}
