name: Default
on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    test:
        name: Test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5
            - name: Install Dependencies
              run: npm ci --force
            - name: Test
              run: npm run test:ci
            - name: Upload coverage reports to Codecov
              uses: codecov/codecov-action@v5
              with:
                  token: ${{ secrets.CODECOV_TOKEN }}
    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5
            - name: Install Dependencies
              run: npm ci --force
            - name: Lint
              run: npm run lint
    prettier:
        name: Prettier
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5
            - name: Install Dependencies
              run: npm ci --force
            - name: Prettier
              run: npm run prettier
    cspell:
        name: CSpell
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v5
            - name: Install Dependencies
              run: npm ci --force
            - name: CSpell
              run: npm run cspell
