# This workflow will run tests using node and then publish a package to GitHub Packages when a release is created
# For more information see: https://docs.github.com/en/actions/publishing-packages/publishing-nodejs-packages

name: Node.js Package

on:
    release:
        types: [created]

jobs:
    test:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
            - run: npm ci
            - run: npm run cspell
            - run: npm run prettier
            - run: npm run lint
            - run: npm run test:ci

    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
            - run: npm ci
            - run: npm run build

    publish-npm:
        needs: [test, build]
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@4
            - uses: actions/setup-node@v4
              with:
                  node-version: "20.x"
                  registry-url: https://registry.npmjs.org/
            - run: npm ci
            - run: npm publish
              env:
                  NODE_AUTH_TOKEN: ${{secrets.npm_token}}
